/* reset from tom.css */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

/* Clearfix hack from http://css-tricks.com/snippets/css/clear-fix/ */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

*:first-child + html .clearfix {
  zoom: 1; }

/* mgp.css */
@font-face {
  font-family: "LeagueGothic";
  src: url("/assets/LeagueGothic-Regular.otf"); }
@font-face {
  font-family: "Crimson";
  src: url("/assets/Crimson-Roman.ttf"); }
@font-face {
  font-family: "CrimsonBold";
  src: url("/assets/Crimson-Semibold.ttf"); }
@font-face {
  font-family: "UbuntuMono";
  src: url("/assets/UbuntuMono-Regular.ttf"); }
h1, h2, h3, h4, h5, h6, body.code main ul li .title, body.talks main ul li .title, body.post main p.meta {
  font-family: "CrimsonBold", Georgia, serif;
  font-weight: normal; }

body.code main ul li + li, body.talks main ul li + li, main * + p, main * + ul, main * + ol, main * + div.highlight, main * + blockquote, main * + h2, main * + h3, main * + h4 {
  margin-top: 0.75em; }

header, main > div, footer {
  padding: 1em 0; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.25em; }

h3, h4, h5, h6 {
  font-size: 1em; }

a {
  text-decoration: none; }

body {
  font-family: "Crimson", Georgia, serif;
  font-size: 140%;
  line-height: 1.3; }

body.code main ul, body.talks main ul {
  list-style-type: none; }
  body.code main ul li p, body.talks main ul li p {
    margin-top: 0.25em; }

header nav ul li a.posts:hover, body.post header nav a.posts, body.posts header nav a.posts, header nav ul li a.book:hover, header nav ul li a.code:hover, body.code header nav a.code, header nav ul li a.talks:hover, body.talks header nav a.talks, header nav ul li a.about:hover, body.about header nav a.about {
  color: white; }

header nav ul li a.posts:hover, body.post header nav a.posts, body.posts header nav a.posts {
  background-color: #c23dff; }

header nav ul li a.book:hover {
  background-color: #45e0d3; }

header nav ul li a.code:hover, body.code header nav a.code {
  background-color: #b7f731; }

header nav ul li a.talks:hover, body.talks header nav a.talks {
  background-color: #ffc226; }

header nav ul li a.about:hover, body.about header nav a.about {
  background-color: #ff297e; }

header {
  background-color: whitesmoke;
  text-align: center; }
  header nav ul {
    list-style-type: none;
    font-size: 1.5em;
    font-family: "LeagueGothic";
    text-transform: uppercase; }
    header nav ul li {
      display: inline; }
      header nav ul li + li {
        padding-left: 1em; }
      header nav ul li a {
        padding: 0.1em 0.25em; }
        header nav ul li a, header nav ul li a:visited {
          color: #444444; }

main {
  clear: both;
  background-color: #fefefe;
  color: #444444; }
  main a, main a:visited {
    color: #4183c4; }
  main a:hover {
    background-color: yellow;
    color: black; }
  main li + li {
    margin-top: 0.25em; }
  main > div {
    text-align: left;
    width: 920px;
    margin: 0 auto; }

body.about {
  background-color: #520020; }
  body.about main img {
    float: left; }
    body.about main img + div {
      margin-left: 400px; }

body.post {
  background-color: #460066; }
  body.post main p.meta {
    margin-top: 0.25em; }
  body.post main blockquote, body.post main ul, body.post main ol {
    margin-left: 1em; }
  body.post main code, body.post main pre {
    border: 1px solid #dddddd;
    background-color: #eeeeff;
    font-family: "UbuntuMono", "Courier New", Courier, monospace; }
  body.post main code {
    font-size: 0.8em;
    padding: 0 0.25em; }
  body.post main pre {
    padding: 0.5em;
    line-height: 1.1; }
    body.post main pre code {
      border: 0;
      padding: 0; }
  body.post main #post-share, body.post main #post-nav, body.post main #disqus_thread {
    margin-top: 1.25em; }
  body.post main #post-nav a.prev {
    float: left; }
  body.post main #post-nav a.next {
    float: right; }

body.posts {
  background-color: #460066; }
  body.posts main h2, body.posts main li span.date {
    width: 350px; }
  body.posts main h2 {
    text-align: right; }
  body.posts main li {
    list-style-type: none; }
    body.posts main li span.date {
      display: inline-block;
      text-align: right;
      margin-right: 0.5em; }

body.code {
  background-color: #364f03; }
  body.code main li {
    margin-left: 1em; }

body.talks {
  background-color: #4f3900; }
  body.talks main li img {
    float: left;
    margin-top: 0.25em; }
    body.talks main li img + div {
      margin-left: 200px; }

footer {
  clear: both;
  text-align: center;
  color: whitesmoke; }
  footer img {
    margin: 0 0.25em;
    margin-bottom: -4px; }
    footer img.last {
      margin-right: 0; }
