/* reset from tom.css */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

/* Clearfix hack from http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix { zoom: 1; }  // IE6
*:first-child + html .clearfix { zoom: 1; }  // IE7

/* mgp.css */

$light-gray: #f5f5f5;
$gray: #ddd;
$dark-gray: #444;

$site-width: 920px;
$font-size: 130%;
$text-color: $dark-gray;
$border-color: $gray;
$title-font-size: 1.15em;

/* colors from A400 and 50 values at https://www.google.com/design/spec/style/color.html#color-color-palette */

$red-dark: #ff1744;
$red-light: #ffebee;
$pink-dark: #f50057;
$pink-light: #fce4ec;
$purple-dark: #d500f9;
$purple-light: #f3e5f5;
$light-blue-dark: #00b0ff;
$light-blue-light: #e1f5fe;
$cyan-dark: #00e5ff;
$cyan-light: #e0f7fa;
$teal-dark: #1de9b6;
$teal-light: #e0f2f1;
$green-dark: #00e676;
$green-light: #e8f5e9;
$light-green-dark: #76ff03;
$light-green-light: #f1f8e9;
$amber-dark: #ffc400;
$amber-light: #fff8e1;
$orange-dark: #ff9100;
$orange-light: #fff3e0;
$deep-orange-dark: #ff3d00;
$deep-orange-light: #fbe9e7;

$posts-nav-color: $cyan-dark;
$posts-footer-color: $cyan-light;
$code-nav-color: $purple-dark;
$code-footer-color: $purple-light;
$talks-nav-color: $amber-dark;
$talks-footer-color: $amber-light;
$about-nav-color: $green-dark;
$about-footer-color: $green-light;

@font-face {
  font-family: "LeagueGothic";
  src: url('/assets/LeagueGothic-Regular.otf');
}
@font-face {
  font-family: "Lato";
  src: url('/assets/Lato-Light.ttf');
}
@font-face {
  font-family: "LatoBold";
  src: url('/assets/Lato-Semibold.ttf');
}
@font-face {
  font-family: "UbuntuMono";
  src: url('/assets/UbuntuMono-Regular.ttf');
}

%bolded {
  font-family: "LatoBold", Georgia, serif;
  font-weight: normal;
}
%padded-text {
  margin-top: 0.75em;
}
%padded-section {
  padding: 1em 0;
}

h1 {
  @extend %bolded;
  font-size: 1.95em;
}
h2 {
  @extend %bolded;
  font-size: 1.55em;
}
h3, h4, h5, h6 {
  @extend %bolded;
  font-size: $title-font-size;
}
a {
  text-decoration: none;
}

body {
  font-family: "Lato", Georgia, serif;
  font-size: $font-size;
  line-height: 1.4;
}

%section-list {
  $section-list-padding: 0.75em;

  ul {
    list-style-type: none;

    li {
      .title {
        @extend %bolded;
        font-size: $title-font-size;
      }

      p {
        margin-top: 0.25em;
      }

      & + li {
        @extend %padded-text;
      }
    }
  }
}

%nav-link-selected {
  color: white;
}
%nav-link-selected-posts {
  @extend %nav-link-selected;
  background-color: $posts-nav-color;
}
%nav-link-selected-code {
  @extend %nav-link-selected;
  background-color: $code-nav-color;
}
%nav-link-selected-talks {
  @extend %nav-link-selected;
  background-color: $talks-nav-color;
}
%nav-link-selected-about {
  @extend %nav-link-selected;
  background-color: $about-nav-color;
}

header {
  background-color: $light-gray;
  @extend %padded-section;
  text-align: center;
  border-bottom: 1px solid $border-color;

  nav ul {
    list-style-type: none;
    font-size: 1.75em;
    font-family: "LeagueGothic";
    text-transform: uppercase;

    li {
      display: inline;

      & + li {
        padding-left: 1em;
      }

      a {
        padding: 0.1em 0.25em;

        &, &:visited {
          color: $text-color;
        }
        &:hover {
          &.posts {
            @extend %nav-link-selected-posts;
          }
          &.code {
            @extend %nav-link-selected-code;
          }
          &.talks {
            @extend %nav-link-selected-talks;
          }
          &.about {
            @extend %nav-link-selected-about;
          }
        }
      }
    }
  }
}

main {
  clear: both;
  background-color: #fefefe;
  color: $text-color;

  a, a:visited {
    color: #4183c4;
  }
  a:hover {
    background-color: yellow;
    color: black;
  }

  * + p, * + ul, * + ol, * + div.highlight, * + blockquote, * + h2, * + h3, * + h4 {
    @extend %padded-text;
  }

  li + li {
    margin-top: 0.25em;
  }

  & > div {
    @extend %padded-section;
    text-align: left;
    width: $site-width;
    margin: 0 auto;
  }
}

body.about {
  background-color: $about-footer-color;

  header nav a.about {
    @extend %nav-link-selected-about;
  }

  main {
    img {
      float: left;
      $image-width: 400px;

      & + div {
        margin-left: $image-width;
      }
    }
  }
}

body.post {
  background-color: $posts-footer-color;

  header nav a.posts {
    @extend %nav-link-selected-posts;
  }

  main {
    $code-font-size: 0.8em;
    $code-background-color: $light-gray;
    $code-border-color: $border-color;

    p.meta {
      @extend %bolded;
      margin-top: 0.25em;
    }

    blockquote, ul, ol {
      margin-left: 1em;
    }

    %code {
      border: 1px solid $code-border-color;
      background-color: $code-background-color;
      font-family: "UbuntuMono", "Courier New", Courier, monospace;
    }

    code {
      @extend %code;
      font-size: $code-font-size;
      padding: 0 0.25em;
    }

    pre {
      @extend %code;
      padding: 0.5em;
      line-height: 1.1;

      code {
        border: 0;
        padding: 0;
      }
    }

    %post-footer {
      margin-top: 1.25em;
    }

    #post-share {
      @extend %post-footer;
    }

    #post-nav {
      @extend %post-footer;

      a {
        &.prev {
          float: left;
        }
        &.next {
          float: right;
        }
      }
    }

    #disqus_thread {
      @extend %post-footer;
    }
  }
}

body.posts {
  background-color: $posts-footer-color;

  header nav a.posts {
    @extend %nav-link-selected-posts;
  }

  main {
    %date-column {
      width: 350px;
    }

    h2 {
      @extend %date-column;
      text-align: right;
    }

    li {
      list-style-type: none;

      span.date {
        @extend %date-column;
        display: inline-block;
        text-align: right;
        margin-right: 0.5em;
      }
    }
  }
}

body.code {
  background-color: $code-footer-color;

  header nav a.code {
    @extend %nav-link-selected-code;
  }

  main {
    @extend %section-list;

    li {
      margin-left: 1em;
    }
  }
}

body.talks {
  background-color: $talks-footer-color;

  header nav a.talks {
    @extend %nav-link-selected-talks;
  }

  main {
    @extend %section-list;

    li {
      img {
        float: left;
        $image-width: 200px;
        margin-top: 0.25em;

        & + div {
          margin-left: $image-width;
        }
      }
    }
  }
}

footer {
  @extend %padded-section;
  clear: both;
  text-align: center;
  color: $text-color;

  img {
    margin: 0 0.25em;
    margin-bottom: -4px;

    &.last {
      margin-right: 0;
    }
  }
}

