<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ page.title }} &middot; {{ site.name }}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/syntax.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="{{ site.name }}" />
  </head>

  <body{% if page.class %} class="{{ page.class }}"{% endif %}>
    <header>
      <nav>
        <ul>
          <li><a href="/" class="posts">Posts</a></li>
          <li><a href="/code/" class="code">Code</a></li>
          <li><a href="/talks/" class="talks">Talks</a></li>
          <li><a href="/about/" class="about">About</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="clearfix">
        {{ content }}
      </div>
    </main>

    <footer>
      Copyright Michael Parker. Follow me on
      <a href="https://github.com/mgp"><img src="/assets/images/follow-github.png" /></a> or
      <a href="http://gplus.to/omgitsmgp"><img src="/assets/images/follow-google-plus.png" /></a> or
      <a href="https://twitter.com/omgitsmgp"><img src="/assets/images/follow-twitter-light-bg.png" class="last" /></a>.
    </footer>

    {% if site.enable_analytics %}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29153096-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    {% endif %}
  </body>
</html>

